html{
    background-color: #202023;
    color: whitesmoke;
    font-family: "Courier New", cursive;
}

div{
    font-family: "Courier New", cursive;
    font-size: large;
    align-content: center;
    text-align: center;
}

h1{
    padding: 10px;
}

img{
    padding: 20px;
}

button{
    border-radius: 12px;
    border: black;
    background-color: indigo;
    color: aquamarine;

    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

    /* text style: */
    font-size: 20px;
    text-decoration: none;
    text-shadow: 1px 1px black;
    margin: 10px;
}

.smallButton{
    font-size: 10px;
}

button[disabled] {
    background-color: gray;
}

.hidden {
    display: none;
}

#hidden {
    display: none;
}
/* Toggle */
.inputToggle {}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch inputToggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderToggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.sliderToggle:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.inputToggle:checked + .sliderToggle {
    background-color: forestgreen;
}

.inputToggle:focus + .sliderToggle {
    box-shadow: 0 0 1px forestgreen;
}

.inputToggle:checked + .sliderToggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.sliderToggle.rounded {
    border-radius: 34px;
}
.sliderToggle.rounded:before {
    border-radius: 50%;
}
/* End of Toggle */

/* Dimmer */
.slideContainer {
    width: 300px;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #ccc;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: forestgreen;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: forestgreen;
    cursor: pointer;
}
/* End of dimmer */

.inputMorse:invalid {
    background-color: orangered;
}

.inputMorse:valid + span::before {
    content: '✓';
    color: green;
}

:hover:enabled{
    cursor:pointer;
}

link{
    text-decoration: underline;
    font-size: 12px;
    color: green;
    margin-bottom: 0px;
}

img {
    max-width: 90%;
    height: auto;
}

.overlayToggle{
    position: fixed; /* Sit on top of the page content */
    /*display: none; !* Hidden by default *!*/
    width: 40%; /* Full width (cover the whole page) */
    height: 40%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(100,100,100); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}